* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #bfdce5;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-color {
  background-color: #fff;
  border-radius: 1rem;
}
.mobile {
  display: flex;
  align-items: center;
  width: 32rem;
  height: 48rem;
  border: 2px solid transparent;
  background: no-repeat center;
}
.mobile img {
  display: flex;
  width: 100%;
  height: 100%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
.menus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  list-style: none;
  padding: 1rem;
  margin: 0 auto;
}
.menus li a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #333;
}
.menus li a:hover {
  color: #33333380;
}
.menus li a ion-icon {
  font-size: 3.6rem;
  margin-top: none;
}

